<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-registration">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-payment">Payment</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/student-enquiry">Batch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/student-enquiry">Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/student-enquiry">Enquiry</a>
        </li>
  
      </ul>
    </div>
  </nav>
  